@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rock+3D&family=Vujahday+Script&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.card
{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}
.card h2{
    margin: 0px;
}

.img img{
   margin-right: 20px;  
   border-radius: 10px;
}