#body {
  max-width: 800px;
  margin: auto;
  background-color: azure;
}

.mmm {
  margin: 50px;
  width: 100px;
  height: 30px;
  align-items: center;
  background-color: rgb(0, 162, 255);
  border-radius: 10px;
}
.sm {
  margin: 50px;
  width: 90px;
  height: 20px;
  background-color: rgb(0, 162, 255);
  display: flex;
  display: block;
  border-radius: 10px;
}
.zurag {
  width: 800px;
}
