.tovchluur {
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  background-color: rgb(225, 225, 225);
  color: rgb(145, 145, 145);
}

.tovchluur:hover {
  width: 100px;
  height: 30px;
  border: rgb(196, 196, 196) solid 1px;
  border-radius: 20px;
  background-color: rgb(254, 249, 249);
  color: rgb(255, 190, 77);
}
