/* ================================= 
  Flexbox
==================================== */
.container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100vh;
  margin: 0 auto;
}
.row{
  display: flex;
  height: calc(100vh/8);
}
.container{
  min-width: 100vh;
}
.item{
  height: 100%;
  flex-grow: 1;
  background: white;
  flex-basis: calc(100%/8);
}
.item:nth-child(odd){
  background: black;
}
.row:nth-child(even) .item{
  background: black;
}
.row:nth-child(even) .item:nth-child(odd){
  background: white;
}