.btn{
    width: calc(100%/3 - 6.8px);
    /* background-color: white; */
    height: calc(100%/3 - 4px);
    font-size: 100px;
    margin: 2px;
    font-weight: 700;
    border: solid black 1px;
    transform: scale(1.1);
}


.box{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    /* background-color: black; */
}
img
{
    width: calc(100%/3);
    height: calc(100%/3);
}